---
import type { Assignment } from '@scripts/types/assignment';
import type { Project } from '@scripts/types/project';

import { getCollection } from 'astro:content';

import MainLayout from '@layouts/MainLayout.astro';
import { dateCompare } from '@lib/dateutil';

interface Tech {
    display: string;
    hint: string;
    type: string;
}

const assignments = (await getCollection('assignments')) as { data: Assignment }[];
assignments.sort((a, b) => dateCompare(b.data.startDate, a.data.startDate));

const projects = (await getCollection('projects')) as { data: Project }[];
projects.sort((a, b) => dateCompare(b.data.lastActivity, a.data.lastActivity));

const technologies = new Map<string, Tech>();
for (const technology of await getCollection('technologies')) {
    technologies.set(technology.id, technology.data);
}

const findOrDefaultTech = (tech: string): Tech => {
    const d = technologies.get(tech.toLowerCase());
    if (d === undefined) {
        console.warn(`${tech} technology not found`);
        return {
            display: tech,
            hint: tech,
            type: 'unknown',
        };
    }
    return d;
};
---

<MainLayout title="Technomunk's Resume" description="Overview of Technomunk's work">
    <header class="strong text-center">
        <!-- TODO: add an actual image of me face -->
        <!-- <Image class="avatar" src={avatarImg} alt="Avatar" /> -->
        <caption translate="no">Grigory <mark>Technomunk</mark> Glukhov</caption>
    </header>
    <main>
        <p class="text-center">Welcome to the overview of my development work assignments and projects.</p>
        <table>
            <caption>Assignments</caption>
            <thead>
                <tr>
                    <th scope="col">Assignment</th>
                    <th scope="col">Work</th>
                    <th scope="col">Technologies</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {
                    assignments.map((a) => (
                        <tr>
                            <th scope="row">
                                {a.data.title} @ {a.data.employer}
                            </th>
                            <td>{a.data.description}</td>
                            <td>
                                {a.data.technologies
                                    .sort()
                                    .map(findOrDefaultTech)
                                    .map((t) => (
                                        <div title={t.hint} class={t.type + ' tag'}>
                                            {t.display}
                                        </div>
                                    ))}
                            </td>
                            <td>
                                {a.data.startDate} to {a.data.endDate}
                            </td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
        <table>
            <caption>Projects</caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Idea</th>
                    <th scope="col">Aspiration</th>
                    <th scope="col">Technology</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {
                    projects.map((p) => (
                        <tr>
                            <th scope="row">{p.data.title}</th>
                            <td>{p.data.description}</td>
                            <td>{p.data.aspiration}</td>
                            <td>
                                {p.data.technologies
                                    .sort()
                                    .map(findOrDefaultTech)
                                    .map((t) => (
                                        <div title={t.hint} class={t.type + ' tag'}>
                                            {t.display}
                                        </div>
                                    ))}
                            </td>
                            <td>{p.data.status}</td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
    </main>
</MainLayout>

<style lang="scss">
    @use '@styles/avatar';
    @use '@styles/resume';

    mark {
        font-style: italic;
        background-color: transparent;
    }

    table {
        min-width: 100%;
    }

    table,
    th,
    td {
        font-size: 18px;
        border-collapse: collapse;
        border: 1px solid;

        & > caption {
            font-size: 23px;
            font-weight: bold;
            margin: 1%;
        }

        & + table {
            margin-top: 1.7%;
        }
    }

    th {
        font-size: 20px;
        padding: 8px;
    }
    td {
        padding: 5px;
    }
</style>
