---
import { Image } from 'astro:assets';

type ImageSrc = ImageMetadata;

interface Props {
    title: string;
    src: ImageSrc;
    alt: string;
    href: string;
}
const { title, src, alt, href } = Astro.props;

import '@styles/components/card.scss';
---

<a class="card-2 frame chamfer raise shadow" href={href}>
    {
        src.format === 'svg' ? (
            <Image src={src} alt={alt} class="inset" />
        ) : (
            <div class="inset">
                <Image src={src} alt={alt} />
            </div>
        )
    }
    <h2 class="semi-paper inset">{title}</h2>
</a>
